$main-color: #fafafa;  
$primery-color: #22252a;
$secondary-color: #8baa36;
$sectiona-color: #c4c4c4;
$sectionb-color: #d9d9d9;
$error-color: #E74A3B;
$correct-color: #3CBC81;
$warning-color: #F6C23E;
$recipe-color: #EBF3D4;
$text-color: #3E4462;
$sectiontitle-color: #001833;
$modal-color: #2A2C36;

$dark-primary: #ececec;


$radius: 24px 44px;